*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
body{
    font-family: Roboto,sans-serif;;
    color: var(--Navy);
    background-color: #f0f0f0;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}
body.noscroll{
overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
padding-bottom: 28px;
padding-top: 28px;
}
hr{
border-top: 1px solid #eee;
margin-bottom: 1em;
}
.inactiveLink{
pointer-events: none;
cursor: default;
}
a{
outline: 0 !important;
text-decoration: none;
background-color: transparent;
color: white;
}
a:hover{
opacity: .7;
transition: all 0.3s linear;
}
.kontaktinfo a{
transition: all .3s ease-in-out;
color: var(--red);
}
#tButton{
display: none;
position: fixed;
bottom: 35px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: var(--blue);
color: white;
cursor: pointer;
padding: 12px;
border-radius: 4px;
}
#tButton:hover {
opacity:0.5;
transition: all 0.5s linear;
}
/* FOOTER */
footer{
line-height: 30px;
background: linear-gradient(45deg,rgba(6, 27, 47,1) 0,rgba(34,66,104,1) 100%);
height: auto;
bottom:0;
position: static;
clear: both;
max-width: auto;
margin-left: auto;
margin-right: auto;
page-break-after: always;
color: rgba(255,255,255,.7);
}
.b_narandasta{
color: white;
}
.footer_bottom{
border-top: 1px solid;
border-top-color: currentcolor;
border-color: var(--orange);
padding: 20px 0 15px 0;
word-spacing:4px;
margin: 15px 0 0 0px;
flex: 75%;
max-width: 1170px;
}
#footer{
padding: 0px 5px 0 5px;
}
/* NAVIGACIJA */
nav{
z-index: 2;
height: 65px;
position: fixed;
width: 100%;
background: linear-gradient(45deg,rgba(26,38,62,1) 0,rgba(34,66,104,1) 100%);
transition: all .3s ease-in-out;
box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
}
nav.active, .tamno-plava-bg{
background: linear-gradient(to right,rgba(26,38,62,1) 0,rgba(34,66,104,1) 100%);
}
#logo{
padding-top: 12px;
}
.resume-button{
padding: 0.35rem;
line-height: 1;
text-decoration: none;
cursor: pointer;
}
.resume-button:hover{
color: var(--red);
background-color: var(--red-tint);
transition: all 0.3s ease;
}
.navigacija {
max-width: 1140px;
margin-left: auto;
margin-right: auto;
font-size: 16px;
}
.meni a{
float: right;
font-size: 14px;
color: #fff;
text-align: center;
padding: 24.8px 16px;
text-decoration: none;
font-weight: 700;
}
.meni a:hover, .navigacija a:hover, .tab, .kontaktinfo a:hover,.button_back:hover, footer a:hover{
opacity: .28;
transition: all 0.3s linear;
}
.dropbtn:after{
content: "⮟";
font-size: 14px;
padding-left: 5px;
}
.dropdown {
float: right;
overflow: hidden;
}
.dropdown .dropbtn {
font-weight: 700;
font-size: 14px;
padding: 24.8px 16px;
border: none;
outline: none;
color: #fff;
background-color: inherit;
font-family: inherit;
margin: 0;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 136px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
top:65px;
z-index: 1;
}
.dropdown-content a {
float: none;
color: #1b3a6a;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}
.rButton{
width: 34px;
height: 34px;
position: absolute;
right: 15px;
top: 23px;
display:none;
}
.hamburger{
display:none;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
padding: 4px 0;
}
.ham{
display: block;
width: 100%;
height: 2px;
margin: 5px 0;
background-color: #fff;
position: relative;
transition: all .3s ease-in-out;
}
.rButton.active .hamburger .ham:nth-child(1){
transform: rotate(-45deg);
top: 7px;
}
.rButton.active .hamburger .ham:nth-child(2){
opacity: 0;
}
.rButton.active .hamburger .ham:nth-child(3){
transform: rotate(45deg);
top: -7px;
}
.hamburger:focus, #logo:focus, a:focus, #myBtn:focus{
outline: none;
}
.izbornik{
display: none;
height: 100%;
overflow: auto;
position: fixed;
background-color: #1b3a6a;
right: 0;
left: 0;
top: 65px;
bottom: 0;
}
.izbornik a{
padding: 9px 15px;
display: block;
font-size: 14px;
font-weight: 700;
color: #fff;
border-bottom: 1px solid;
border-bottom-color: currentcolor;
border-color: #384050;
position: relative;
text-decoration: none;
font-weight: bold;
}
.expanded.eButton::after{
transform: rotate(-180deg);
}
.eButton::after{
content: "⮟";
width: 20px;
height: 20px;
position: absolute;
right: 10px;
top: 50%;
margin-top: -10px;
background-repeat: no-repeat;
background-size: contain;
background-position-x: 0;
background-position-y: 0;
transition: all .3s ease-in-out;
}
.izbornik-traka{
display:none;
background-color: #1d304e;
}
#kontakt{
background-color: #1b3a6a;
padding: 8px;
}
/* SLIDE */
.mySlides{
display: none;
}
.slide{
width: 100%;
height: 35em;
}
.slide_pic{
position: absolute;
width: 20%;
height: 20%;
top: 32%;
left: 63%;
}
.slide_logo{
position: absolute;
width: auto;
height: auto;
top: 40%;
left: 45%;
}
.slideshow-container {
position: relative;
margin: auto;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
.dots{
position: absolute;
top: 30%;
left: 20%;
}
.dot{
cursor: pointer;
height: 10px;
width: 10px;
margin: 0 2px;
background-color: #bbb;
display: inline-block;
transition: background-color 0.6s ease;
}
.mySlides>.podnaslov>h1{
padding: 0 0 15px 0 !important;
}
.mySlides>.podnaslov {
color: #f2f2f2;
z-index: 1;
position: absolute;
top: 36%;
left: 20%;
font-size: 22px;
font-weight: 700;
}
.button{
margin-top: 15px;
outline: 0 !important;
border-color: transparent;
padding: 13px 45px;
font-weight: 900;
text-transform: uppercase;
transition: all .3s ease-in-out;
display: inline-block;
font-size: 12px;
cursor: pointer;
}
.button-icon{
background-repeat: no-repeat;
background-size: 20px;
background-position-y: 50%;
background-position-x: 90%;
}
.button-icon-right:hover{
padding-right: 65px;
opacity: .8;
color: #fff;
}
.button-icon-right{
background-image: url(img/de.png);
}
.trenutna {
background-color: #0072c6;
}
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
background-color: #f1f1f1;
color: black;
}
/* SADRŽAJ */
.sadrzaj{
box-sizing: border-box;
max-width: 1300px;
margin-right: auto;
margin-left: auto;
padding-right: 15px;
padding-left: 15px;
}
.nekretnine{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.table{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    width:auto;
    padding: 0 110px 44px 110px;
}
.space{
    justify-content: space-between;
}
.naslov{
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width:auto;
    padding: 0 110px 0 110px;
}
.naslov.big{
    padding: 0;
    font-size: 32px;
    width:auto;
    margin-right: auto;
}
.colum{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cols{
    flex: 75%;
    padding: 10px;
    max-width: 500px;
}
.col{
    flex: 75%;
    padding: 10px;
    max-width: 200px;
}
.klijent{
    border: 1px solid #eee;
    margin: 1em;
    flex: 75%;
    justify-content: space-between;
    padding: 10px;
    max-width: 300px;
    text-align: center;
}
section:nth-child(even){
    background-color: #f4f8fa;
}
section:nth-child(odd){
    background-color: #fff;
}
.crtica{
text-align: right;
    padding-right: 120px;
    position: relative;
    display: inline-block;
}
.crtica::after {
    content: " ";
    width: 100px;
    height: 3px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #f04e23;
}
.brojevi{
    margin-bottom: 55px !important;
    margin-top: 50px !important;
    width: 25%;
    float: left;
    padding: 10px;
    max-width: 200px;
}
.broj{
    font-size: 40px;
    display: block;
    font-weight: 900;
    margin-bottom: 7px;
}
.plus:after{
    content:"+";
}
.broj_text{
    text-decoration: underline 2px #f04e23;
}
.map>iframe{
    position:relative;
}
.head>.naslov_slike {
    color: #f2f2f2;
    z-index: 1;
    width: auto;
    padding-left: 45px;
    position: absolute;
    text-align: center;
    margin-top: 90px;
    font-size: 32px;
    font-weight: 800;
}
ul{
    list-style: inside none none;
}
ul.lista{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 300px));
    padding: 0px;
    margin: 5px 0px 0px 20px;
    overflow: hidden;
    list-style: inside none none;
}
.lista li{
    margin-left: 5px;
}
ul.lista li::before{
    content: "▹";
    left: 0px;
    color: var(--red);
    line-height: 12px;
}
.button_back::before {
    content: "↪";
    margin-right: 5px;
    width: 30px;
    height: 30px;
    transition: all .3s ease-in-out;
}
.button_back{
    transition: all .3s ease-in-out;
    color: var(--red);
}
.items, .usluge{
    list-style-type: none;
    margin-bottom: 25px !important;
    box-sizing: border-box;
    margin-top: 25px !important;
}
.item {
    color: #1b3a6a;
    display: block;
    border-bottom: 1px solid;
    border-color: #d7e2eb;
    padding-bottom: 30px;
}
.usluge li:nth-child(3n) {
    border-right-color: transparent;
}
.usluge li:nth-last-child(-n+3) {
    border-bottom-color: transparent;
}
.usluge li{
    width: 33.33333333%;
    float: left;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #f0f0f0;
}
.ikona{
    content: " ";
    display: block;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: 90px;
    background-position-x: 0;
    background-position-y: 0;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 38px;
    transition: opacity .3s ease-in-out;
    filter: hue-rotate(200deg) saturate(1.4);
    opacity: .55;
}
.usluga:hover .ikona{
    filter: none;
    opacity: 1;
}
.usluga{
cursor: default;
padding: 150px 30px 44px 30px;
position: relative;
color: #1b3a6a;
transition: all .3s ease-in-out;
display: block;
text-align: center;
}
.button_ponuda{
outline: 0 !important;
font-weight: 900;
text-transform: uppercase;
font-size: 12px;
cursor: pointer;

width: 68px;
height: 26px;
padding: 5px;
border: 1px solid;
border-color: #f04e23;
transition: all .3s ease-in-out;
}
.item:hover > .title{
    color: var(--Navy);
}
.item:hover > .text-right > .button_ponuda, .button:hover{
    background-color: rgb(240,95,35,0.7);
}
.button_ponuda:hover{
    background-color: rgb(240,95,35,0.7);
}
.button-icon{
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 50%;
    background-position-x: 90%;
}
.button_read_more::after {
    content: "→";
    width: 15px;
    height: 15px;
    display: block;
    border: 1px solid;
    border-color: #f04e23;
    transition: all .3s ease-in-out;
}
.items li:nth-child(2n) {
    padding-left: 70px;
}
.items li:nth-child(2n+1) {
    clear: both;
}
.items li:nth-child(2n+1) {
    border-right: 1px solid;
        border-right-color: currentcolor;
    border-color: #d7e2eb;
    padding-right: 70px;
}
ul.items li {
    margin: auto;
    padding: 0;
        padding-left: 0px;
    background: 0 0;
}
.items li {
    width: 50%;
    float: left;
}
.titleBorder {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
position: relative;
}
.titleBorder::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #93afc7;
    display: block;
    position: absolute;
    top: 50%;
}
.titleBorder span {
    display: inline-block;
    padding: 0 25px;
    z-index: 2;
    position: relative;
}
.fadeInDown{
    animation: fadeInDown 1.1s;

}
/* FORMA */
form{
    margin-bottom: 22px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
input,textarea, option, select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border-radius: 0;
    box-shadow: none;
    border-color: #d4d4d4;
    background-color: #e2e2e2;
    background-image: none;
    border: 1px solid #ccc;
    transition: all .3s ease-in-out;
    height: 52px;
}
textarea{
    overflow: auto;
    margin: 0;
    font: inherit;
    color: inherit;
    height: auto;
}
input::placeholder {
    color: #999;
    opacity: 1;
}
/* MODAL */
#myImg{
    cursor: zoom-in;
    transition: 0.3s;
    margin: 5px;
    box-shadow: 5px 10px 30px -15px var(--navy-shadow);
}
#myImg:hover,#logo:hover{
    opacity: 0.5;
}
.modal{
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 10px 0;
    height: auto;
}
.modal-content, #caption{
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom{
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,.close:focus{
    color: var(--green);
    text-decoration: none;
    cursor: pointer;
}
@keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
}
@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes jump {
  from{
    transform: translateY(0);
    opacity: .7;
  }
  to{
    transform: translateY(+10px);
    opacity: 1;
  }
}
@media screen and (max-width: 790px){
    .sadrzaj{
        padding: 0px;
    }
    .kontejner{
        height: auto;
    }
    .meni{
        display: none !important;
    }
    .hamburger{
        display: block;
    }
.rButton{
    display: block;
}
    .table{
        padding: 0 30px 44px 30px;
    }
    .slide{
width: 1211px;
height: 375px;
margin-left: -268px;
margin-top: 0px;
    }
    p{
        margin-top: 10px;
        line-height: 18px;
    }
}
@media only screen and (max-width: 470px) {
.item, .usluga{
padding-bottom: 0;
height: auto !important;;
}
.items li, .usluge li {
    padding: 0 15px !important;
    width: 100%;
    border: 0 !important;
}
    .mySlides >.podnaslov{
        font-size: 11px;
    }
    .table{
        padding: 0 30px 44px 30px;
    }
    .naslov{
        padding: 0 0px 0 30px;
        width: 100%
    }
    .naslov.crtica:after{
        width: 40px;
    }
    .broj, .broj-text, .naslov.big{
        font-size: 24px;
    }
    .brojevi{
        margin-left:8px;
    }
    .slide{
width: 100%;
height: 375px;
    }
    h2{
        line-height: 15px;
        float: left;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 14px;
        padding-top: 28px;
    }
    p{
        font-size: 13px;
    }
}
.bg_crevena{ background-color: #f04e23; color: #f2f2f2;}
.b_crevena{ color: #f04e23;}
.b_narandasta{ background-color: var(--yellow);}
.b_bijela{ color: #f2f2f2;}
.b_plava{ color: var(--blue);}
.text-right {text-align: right;}
.bold{ font-weight: 700; }
:root{
    --red: #f04e23;
    --red-tint: RGBA(240, 78, 35,0.7);
    --Navy: #1b3a6a;
    --font_Robo:'Roboto','sans-serif';
    --dred: #d42220;
    --blue: #0066ab;
    --orange:#FF5800;
    --yellow:#F39200;
}
